*{
    margin: 0;
    padding: 0;
}

.contenedor{
    display: grid;
    grid-template-areas: 
        "nav"
        "filtro"
        "main"
        "pager"
        "footer";
    grid-template-rows: 0.5fr 0.5fr 20fr 0.5fr 0.5fr;
    width: 100%;
}

.navegador{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    background-color: green;
    color: white;
}

.header1{
    display: flex;
    flex-direction: row;
}

.menuOculto{
    display: none;
}

.filtro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.filtro>p{
    margin-bottom: 10px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}
.producto{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    border: 1px solid rgb(202, 202, 202);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding-bottom: 5px;
}
.producto>img{
    height:250px;
    width: 250px;
}
.producto>p{
    font-size: 20px;
    text-wrap: wrap;
}
.producto>button{
    background-color: #009c53;
    color: white;
    padding: 6px;
    border-radius: 10%;
}

.paginador{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: darkgreen;
    color: white;
}
.no-link{
    color:white !important;
}

/*Version Tablet*/
@media (width>=576px){
    .contenedor{
        width: 100%;
        grid-template-areas:
        "nav nav"
        "filtro main"
        "filtro pager"
        "footer footer";
        grid-template-rows: 1fr 21fr 0.5fr 1fr;
        grid-template-columns:2fr 10fr;
    }
    nav{
        grid-area: nav;
    }
    .menuDesplegable{
        display: none;
    }
    .menuOculto{
        display: inline;
    }
    .menuOculto>span{
        display: inline;
    }
    .filtro{
        grid-area: filtro;
        justify-content: flex-start;
    }
    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        grid-area: main;
    }
    .paginador{
        grid-area: pager;
        margin-top: 15px;
    }
    footer{
        grid-area: footer;
    }
}

/*Version Desktop*/
@media (width>=992px){
    .contenedor{
        width: 100%;
        grid-template-areas:
        "nav filtro"
        "nav main"
        "footer pager";
        grid-template-rows: 1fr 10fr 1fr;
        grid-template-columns:2fr 10fr;
    }

    .navegador{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .header1>span{
        padding-top: 15%;
        padding-bottom: 10%;
        text-align: center;
    }
    .header1>h3{
        text-align: center;
        padding-top: 15%;
        padding-bottom: 10%;
    }
    .menuOculto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .menuOculto>span{
        font-size: 20px;
    }
    footer>span{
        text-align: center;
    }
    main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;
    }
}